.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 23%;
    width: 40%;
    background: #DAFFEF;
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  } 
  
  .modal__title {
    text-align: center;
    font-size: 25px;
    margin: 0 0 1rem 0;
  }

  .modal__actions {
    text-align: center;
  }
  
  .modal__btn__ok {
    background: #dad7d7;
    border-color: #dad7d7;
    align-self: center;
    padding: 0 55px;
  }
 
 .listToDo__banner {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
 .header {
    background-color: #C0FDFB;
    padding: 20px 10px;
    color: white;
    text-align: left;
    margin: 50px 0;
    font-weight: bold;
    
}

 #header__textInput {
    width: 75%;
    height: 25px;
    text-indent: 10px;
}

.header__btn_Add {
    padding: 0px 12px;
    color: #555;
    text-align: center;
    font-size: 30px;
    transition: 0.3s;
    border-radius: 0;
    margin: auto;
  }

 ul {
    margin: 0;
    padding: 0;
}


ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  }

  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }

