body {
    background-color: #fefefe;
}

.mobile-nav {
    display: none;
}

.reminder__banner {
    text-align: center;
}

.reminder__banner p {
    font-size: 3rem;
}

.reminder__form {
    text-align: center;
    padding: 2rem;
}

.reminder__task,
.reminder__date {
    padding: 4rem;
    margin: 1rem;
    border: 1px solid #AAABB8;
}