* {
    font-family: 'Roboto', sans-serif;
}

.Timer__banner p {
    text-align: center;
    font-size: 50px;
    padding: 0;
    margin: 0;
}


.stopwatch {
    font-size: 90px;
    height: 100%;
    text-align: center;
  }

.timer__btn {
    color: #FCFFFD;
    font-size: 30px;
    margin: auto;
    padding: 15px 28px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }

.results {
    margin: 0;
    padding: 0;
    list-style-type: none;    
}

.results li {
    text-align: center;
}